*{
    margin: 0;
    padding: 0;
    background-color: rgb(38, 29, 80);
  }
  .theader{
   /*border: 1px solid white; */
   text-align: center;
   align-items: center;
   justify-content: center;
   color: aliceblue;
   padding: 50px;
   margin: 50px;
  
   
  }
  .btn-primary1{
    background-color: rgb(98, 195, 13);
    color: black;
    font-weight: bolder;
    padding-top: 2px;
    margin-left: 4px;
    border: 2px solid  rgb(82, 71, 56);;
    height: 25px;
    width: 60px;
  }
  .btn-primary2{
    height: 25px;
    width: 60px;
    background-color: orange;
    color: black;
    font-weight: bolder;
    padding-top: 2px;
    margin-left: 4px;
    border: 2px solid rgb(50, 39, 25);
  }
  .btn-primary3{
    background-color: yellow;
    color: black;
    font-weight: bolder;
    padding-top: 2px;
    margin-left: 4px;
    border: 2px solid rgb(20, 20, 20);
    height: 25px;
    width: 60px;
    
  }
  .btn-primary{
    background-color: rgb(18, 153, 16);
    color: rgb(247, 248, 247);
    font-weight: bolder
  }

  button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

  .title{
    height: 50px;
    width: 400px;
    color: aliceblue;
    
  }
  
  .inpt{
    padding: 4px;
    margin: 14px;
    border: none;
    height: 30px;
    font-size: larger;
    color: aliceblue;
  }
  .inpd{
    border: none;
    margin: 14px;
    height: 30px;
    font-size: medium;
    color: aliceblue;
  }
 .timed{
  text-align: center;
  color: antiquewhite;
 }

 .row{
  flex-direction: row;
 }
 .maplist{
  color: aliceblue;
  text-align: center;
 }
 .rbtn{
  color: aliceblue;
  background-color: antiquewhite;
  color: rgb(92, 73, 73);
  font-weight: bold;
 }